.p-datatable-thead>tr>th {
    background-color: var(--p-primary-300) !important;
}

.p-datatable-thead>tr>th.p-datatable-column-sorted {
    background: var(--p-primary-100) !important;
    color: var(--p-datatable-header-cell-selected-color);
}

@media (prefers-color-scheme:dark) {
    .p-datatable-thead>tr>th.p-datatable-column-sorted {
        background: var(--p-primary-100) !important;
        color: black;
    }
}

@media (max-width: 1024px) {
    .customizePaginator .p-paginator.p-component{
        flex-wrap: nowrap!important;
    }
    }