<div class="flex gap-5 pt-10 max-sm:overflow-x-auto [scrollbar-width:none]">
    <p-card [style]="{ width: (isMobile$ | async) ? '15rem' : '25rem', overflow: 'hidden' }">
        <ng-template #header>
            <img alt="Card" class="w-full" src="/assets/images/pngs/blogs1.png" />
        </ng-template>
        <ng-template #title>
            <span class="max-sm:text-[16px]">Constructive and destructive waves</span>
        </ng-template>
        <p class="max-sm:text-[12px]">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
            numquam
            deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
            quas!
        </p>
    </p-card>
    <p-card [style]="{ width: (isMobile$ | async) ? '15rem' : '25rem', overflow: 'hidden' }">
        <ng-template #header>
            <img alt="Card" class="w-full" src="/assets/images/pngs/blogs1.png" />
        </ng-template>
        <ng-template #title>
            <span class="max-sm:text-[16px]">Constructive and destructive waves</span>
        </ng-template>
        <p class="max-sm:text-[12px]">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
            numquam
            deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
            quas!
        </p>
    </p-card>
    <p-card [style]="{ width: (isMobile$ | async) ? '15rem' : '25rem', overflow: 'hidden' }">
        <ng-template #header>
            <img alt="Card" class="w-full" src="/assets/images/pngs/blogs1.png" />
        </ng-template>
        <ng-template #title>
            <span class="max-sm:text-[16px]">Constructive and destructive waves</span>
        </ng-template>
        <p class="max-sm:text-[12px]">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
            numquam
            deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
            quas!
        </p>
    </p-card>

</div>