.p-togglebutton.p-togglebutton-checked::before {
    box-shadow: var(--p-togglebutton-content-checked-shadow) !important;
  }
  
  .p-togglebutton-checked .p-togglebutton-content {
    background: var(--p-primary-color) !important;
    color: white;
  }