<div class="flex flex-col h-screen entity-form">
    <div class="w-full flex justify-center pt-[30px]">
        <div class="min-w-[700px]">
            <div class="mt-auto flex items-center justify-between">
                <div class="pl-2">
                    <span class="font-normal text-2xl">Manage Entity</span>
                </div>

                <div class="flex justify-end gap-2 pr-2 pb-2 ">
                    @if(isAdmin || createAccess || editAccess){
                    <p-button icon="pi pi-plus" label="Add Attribute" (click)="addAttribute()"
                        [style]="{'border-radius':'12px','height':'37px'}" />
                    <p-button (onClick)="onSubmit()" label="Update"
                        [style]="{'border-radius':'12px','height':'37px'}" />
                    }

                    <p-button label="Back" (onClick)="closeCallback($event)"
                        [style]="{'border-radius':'12px','height':'37px'}" />
                    <p-button label="Open Logs" (onClick)="openLogs()"
                        [style]="{'border-radius':'12px','height':'37px'}" />
                </div>
            </div>
            <form [formGroup]="entityForm">
                <div class="pt-[25px] pl-2 flex flex-col gap-7 form-fields">
                    <div class="static-form flex gap-4 items-center">
                        <div class="flex-1">
                            <p-floatLabel>
                                <input type="text" pInputText formControlName="entityOrInstanceName"
                                    class="input-field" />
                                <label for="entityName">Entity Name<span class="text-red-500">*</span></label>
                            </p-floatLabel>
                            <small
                                *ngIf="entityForm.get('entityOrInstanceName')?.invalid && entityForm.get('entityOrInstanceName')?.touched"
                                class="p-error pl-2">
                                Entity Name is required.
                            </small>
                        </div>
                    </div>
                    <div class="static-form flex gap-4 items-center">
                        <div class="flex-1">
                            <p-floatLabel>
                                <textarea rows="5" cols="30" pTextarea formControlName="entityOrInstanceDesc"
                                    class="input-field"></textarea>
                                <label for="entityDesc">Entity Description<span class="text-red-500">*</span></label>
                            </p-floatLabel>
                            <small
                                *ngIf="entityForm.get('entityOrInstanceDesc')?.invalid && entityForm.get('entityOrInstanceDesc')?.touched"
                                class="p-error pl-2">
                                Description is required.
                            </small>
                        </div>
                    </div>
                    <div>
                        <p-floatLabel>
                            <p-select [style]="{ width: '100%' }" appendTo="body" [options]="entityLevel"
                                formControlName="entityLevel" [filter]="true" filterBy="" [showClear]="true"
                                (onChange)="onEntityLevelChange($event)" (onClear)="clearEntity()">
                            </p-select>
                            <label for="entity">Entity Level<span class="text-red-500">*</span></label>
                        </p-floatLabel>
                        <small *ngIf="entityForm.get('entityLevel')?.invalid && entityForm.get('entityLevel')?.touched"
                            class="p-error pl-2">
                            Entity Level is required.
                        </small>
                    </div>
                    @if(filteredOptions.length>0){
                    <div>
                        <p-floatLabel>
                            <p-select [style]="{ width: '100%' }" appendTo="body" [options]="filteredOptions"
                                formControlName="entityLevelName" optionLabel="name" optionValue="id"
                                (onChange)="onAppChange($event.value)" [filter]="true" [showClear]="true">
                            </p-select>
                            <label for="subEntity">{{subEntityLabel}}</label>
                        </p-floatLabel>
                        <small
                            *ngIf="entityForm.get('entityLevelName')?.invalid && entityForm.get('entityLevelName')?.touched"
                            class="p-error pl-2">
                            {{subEntityLabel}} is required.
                        </small>
                    </div>
                    <div>
                        <p-floatLabel>
                            <p-select [style]="{ width: '100%' }" appendTo="body" [options]="orgs"
                                formControlName="entityOrgLevel" optionValue="orgId" optionLabel="orgName"
                                [filter]="true" [showClear]="true">
                            </p-select>
                            <label for="subEntity">Choose Org Level</label>
                        </p-floatLabel>
                    </div>
                    }
                    <div>
                        <p-checkbox formControlName="isEntityOrInstance" [binary]="true" inputId="ny" />
                        <label for="ny" class="ml-2">Is Entity</label>
                    </div>
                    <!-- Dynamic Fields -->
                    <div formArrayName="entityOrInstanceAttribute">
                        <div>
                            <span class="font-normal text-2xl">Attribute Creation</span>
                        </div>
                        <div cdkDropList (cdkDropListDropped)="drop($event)">
                            <div *ngFor="let attribute of attributes.controls; let i = index" [formGroupName]="i"
                                cdkDrag>
                                <div class="flex pt-5 justify-content-between items-center">
                                    <div>
                                        <div>
                                            <p-floatLabel>
                                                <input type="text" pInputText formControlName="attributeName"
                                                    class="input-field" />
                                                <label for="attribute">Attribute name<span
                                                        class="text-red-500">*</span></label>
                                            </p-floatLabel>
                                            <small
                                                *ngIf="entityForm.get('attributeName')?.invalid && entityForm.get('attributeName')?.touched"
                                                class="p-error pl-2">
                                                Attribute name is required.
                                            </small>
                                        </div>
                                    </div>
                                    <div><p-divider layout="vertical" [style]="{'height':'163px'}" /></div>
                                    <div>
                                        <div class="flex gap-2">
                                            <!-- <div>
                                                <p-floatLabel>
                                                    <p-select [style]="{ width: '192px' }" appendTo="body"
                                                        [options]="dataPoints" formControlName="dataType"
                                                        optionLabel="dataType" [filter]="true" filterBy="dataType"
                                                        [showClear]="true">
                                                    </p-select>
                                                    <label for="dataType">Datatype<span
                                                            class="text-red-500">*</span></label>
                                                </p-floatLabel>
                                                <small
                                                    *ngIf="entityForm.get('dataType')?.invalid && entityForm.get('dataType')?.touched"
                                                    class="p-error pl-2">
                                                    Datatype is required.
                                                </small>
                                            </div> -->
                                            <div class="flex items-center gap-1">
                                                <p-checkbox formControlName="nullable" [binary]="true"
                                                    inputId="nullable" />
                                                <label for="nullable">Not Null</label>
                                            </div>

                                            <div class="flex items-center gap-1">
                                                <p-checkbox formControlName="unique" [binary]="true" inputId="unique" />
                                                <label for="unique">Unique value</label>
                                            </div>
                                            <div>
                                                <p-floatLabel>
                                                    <input type="text" pInputText formControlName="alias"
                                                        class="input-field" />
                                                    <label for="attribute">Alias Name</label>
                                                </p-floatLabel>
                                            </div>
                                        </div>
                                        <div class="w-full pt-5">
                                            <p-floatLabel>
                                                <textarea style="width: 100%;" id="float-input" rows="3" cols="30"
                                                    pTextarea formControlName="comments">
                                            </textarea>
                                                <label for="float-input">Description</label>
                                            </p-floatLabel>
                                        </div>
                                    </div>
                                    <div>
                                        <div>
                                            <p-button icon="pi pi-th-large" [rounded]="true" [text]="true"
                                                class="flex ml-4" [raised]="true"
                                                [style]="{ color: '#F97316', background: '#FFEADC' }"
                                                (onClick)="moreActions(i)" pTooltip="More Action" />
                                        </div>
                                    </div>
                                    <div>
                                        <div>
                                            <p-button icon="pi pi-trash" [rounded]="true" [text]="true"
                                                class="flex ml-4" [raised]="true"
                                                [style]="{ color: '#F97316', background: '#FFEADC' }"
                                                (onClick)="removeAttribute(i)" />
                                        </div>
                                    </div>

                                    <div>
                                        <div>
                                            <p-button [style]="{'cursor':'move'}" cdkDragHandle [rounded]="true"
                                                [text]="true" [raised]="true" class="flex ml-4">
                                                <ng-template pTemplate="icon">
                                                    <img src="assets/images/svgs/drag.svg">
                                                </ng-template>
                                            </p-button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<p-toast [breakpoints]="breakPointForToastComponent"></p-toast>