<div class="flex gap-[25px]">
    <p-select [options]="apps" [(ngModel)]="selectedApp" optionLabel="appName" filterBy="appName"
        (onChange)="onAppChange($event)" [filter]="true" placeholder="Select an Application" class="w-[300px]"
        showClear="true" />
    <p-select [options]="orgs" [(ngModel)]="selectedOrg" optionLabel="orgName" filterBy="orgName" [filter]="true"
        placeholder="Select an Organization" class="w-[300px]" showClear="true" (onChange)="onOrgChange($event)" />
</div>