<div class="flex gap-5 pt-10 max-sm:overflow-x-auto [scrollbar-width:none]">
    <div class="h-[300px] md:h-[540px] w-[320px] blog1 rounded-[12px]"
        style="background-image: url('/assets/images/pngs/news1.png');">
        <div class="h-full max-sm:w-[180px]" style="background: linear-gradient(180deg, rgba(0, 0, 0, 0) 25%, #000000 100%);">
            <div class="flex flex-col h-full justify-end p-3">
                <span class="text-white">Lorem Ipsum
                </span>
                <span class="text-white">
                    Dummy Text</span>
                <span class="text-white">Years after retiring from their formidable ninja lives...</span>
            </div>
        </div>
    </div>
    <div class="h-[300px] md:h-[540px] w-[320px] rounded-[12px]" style="background-image: url('/assets/images/pngs/news2.png');">
        <div class="h-full max-sm:w-[180px]" style="background: linear-gradient(180deg, rgba(0, 0, 0, 0) 25%, #000000 100%);">
            <div class="flex flex-col h-full justify-end p-3">
                <span class="text-white">Lorem Ipsum
                </span>
                <span class="text-white">
                    Dummy Text</span>
                <span class="text-white">Years after retiring from their formidable ninja lives...</span>
            </div>
        </div>
    </div>
    <div class="h-[300px] md:h-[540px] w-[320px] rounded-[12px]" style="background-image: url('/assets/images/pngs/news3.png');">
        <div class="h-full max-sm:w-[180px]" style="background: linear-gradient(180deg, rgba(0, 0, 0, 0) 25%, #000000 100%);">
            <div class="flex flex-col h-full justify-end p-3">
                <span class="text-white">Lorem Ipsum
                </span>
                <span class="text-white">
                    Dummy Text</span>
                <span class="text-white">Years after retiring from their formidable ninja lives...</span>
            </div>
        </div>
    </div>
    <div class="h-[300px] md:h-[540px] w-[320px] rounded-[12px]" style="background-image: url('/assets/images/pngs/news4.png');">
        <div class="h-full max-sm:w-[180px]" style="background: linear-gradient(180deg, rgba(0, 0, 0, 0) 25%, #000000 100%);">
            <div class="flex flex-col h-full justify-end p-3">
                <span class="text-white">Lorem Ipsum
                </span>
                <span class="text-white">
                    Dummy Text</span>
                <span class="text-white">Years after retiring from their formidable ninja lives...</span>
            </div>
        </div>
    </div>
</div>