<p [style]="{
    background: style?.backgroundColor,
    border: style?.border,
    height:'100%',
    width:'100%',
    color:style?.color,
    'font-family':style?.fontFamily,
    'font-size':style?.fontSize + 'px',
    'font-weight':style?.fontWeight,
    'text-align':style?.textAlign,
    'text-decoration':style?.textDecoration,
    'padding':style?.padding,
    'border-top-style':style?.boderTopStyle,
    'border-bottom-style':style?.borderBottomStyle,
    'border-right-style':style?.borderRightStyle,
    'border-left-style':style?.borderLeftStyle,
    'border-top-color':style?.borderTopColor,
    'border-bottom-color':style?.borderBottomColor,
    'border-right-color':style?.borderRightColor,
    'border-left-color':style?.borderLeftColor,
    'border-top-width':style?.borderTopWidth + 'px',
    'border-bottom-width':style?.borderBottomWidth + 'px',
    'border-right-width':style?.borderRightWidth + 'px',
    'border-left-width':style?.borderLeftWidth + 'px',
    'border-top-left-radius':style?.borderTopLeftRadius + 'px',
    'border-top-right-radius':style?.borderTopRightRadius + 'px',
    'border-bottom-left-radius':style?.borderBottomLeftRadius + 'px',
    'border-bottom-right-radius':style?.borderBottomRightRadius + 'px',
    'padding-left':style?.paddingLeft + 'px',
   'padding-right':style?.paddingRight + 'px',
   'padding-top':style?.paddingTop + 'px',
   'padding-bottom':style?.paddingBottom + 'px'
     }">{{ label }}</p>