@if(isShow){
<div class="flex flex-col gap-4">
    <form [formGroup]="mappingForm">
        <div class="flex flex-col gap-2">
            <label for="mappingDesc">Mapping Description</label>
            <textarea pTextarea pSize="small" rows="3" formControlName="mappingDesc"></textarea>
        </div>
        <div formArrayName="inputMappings">
            <p-table #dt [value]="inputMappings.controls" dataKey="index" [filterDelay]="0" responsiveLayout="scroll">
                <ng-template #caption>
                    <div class="flex justify-between">
                        <div class="font-bold">
                            Input Variables Mapping
                        </div>
                        <div class="flex gap-[10px]">
                        </div>
                    </div>
                </ng-template>
                <ng-template #header>
                    <tr>
                        <th style="min-width: 10rem">
                            <div class="flex justify-between items-center">
                                Input Variables Name
                            </div>
                        </th>
                        <th style="min-width: 10rem">
                            <div class="flex justify-between items-center">
                                Entity/Instance/Tag
                            </div>
                        </th>
                        <th style="min-width: 10rem">
                            <div class="flex justify-between items-center">
                                Entity/Instance Name
                            </div>
                        </th>
                        <th style="min-width: 15rem">
                            <div class="flex justify-between items-center">
                                Attributes
                            </div>
                        </th>
                        <th style="min-width: 15rem">
                            <div class="flex justify-between items-center">
                                Frequency
                            </div>
                        </th>

                        <th style="min-width: 15rem">
                            <div class="flex justify-between items-center">
                                Offset
                            </div>
                        </th>
                        <th style="min-width: 10rem">
                            <div class="flex justify-between items-center">
                                Trigger
                            </div>
                        </th>
                        <!-- <th style="min-width: 10rem">
                            <div class="flex justify-between items-center">
                                Re-trigger
                            </div>
                        </th> -->
                        <!-- <th style="min-width: 10rem">
                            <div class="flex justify-between items-center">
                                Approval Req
                            </div>
                        </th> -->
                    </tr>
                </ng-template>
                <ng-template #body let-cal let-i="rowIndex">
                    <tr [formGroupName]="i">
                        <td>
                            {{inputMappings.at(i).get('variableName')?.value}}
                        </td>
                        <td>
                            <p-select [options]="types" formControlName="type" placeholder="Select" class="w-full"
                                showClear="true" appendTo="body" />
                        </td>
                        <td>
                            <p-select [options]="getTypeOptions(i,'input')" optionLabel="name" placeholder="Select"
                                filterBy="name" [filter]="true" class="w-full" showClear="true" appendTo="body"
                                formControlName="typeName" />
                        </td>
                        <td>
                            <p-select [options]="getAttributeOptions(i,'input')" optionLabel="name" optionValue="id"
                                placeholder="Select" filterBy="name" [filter]="true" formControlName="attribute"
                                class="w-full" showClear="true" appendTo="body" />
                        </td>
                        <td>
                            <p-select [options]="frequencyOptions" optionLabel="name" placeholder="Select"
                                filterBy="name" formControlName="frequency" optionValue="type" [filter]="true"
                                class="w-full" showClear="true" appendTo="body" />
                        </td>
                        <td>
                            <p-inputnumber inputId="integeronly" formControlName="offset" [showButtons]="true"
                                class="w-full" placeholder="Input" />
                        </td>
                        <td>
                            <p-checkbox formControlName="calcTrigInd" (onChange)="onTrigger(i)" [binary]="true" />
                        </td>
                        <!-- <td>
                            <p-checkbox formControlName="calcReTrigInd" [binary]="true" />
                        </td> -->
                        <!-- <td>
                            <p-checkbox formControlName="approvalReq" [binary]="true" />
                        </td> -->
                    </tr>
                </ng-template>

                <ng-template #emptymessage>
                    <tr>
                        <td colspan="5">No Input Variables found.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div formArrayName="outputMappings">
            <p-table #dt [value]="outputMappings.controls" dataKey="index" [filterDelay]="0" responsiveLayout="scroll">
                <ng-template #caption>
                    <div class="flex justify-between">
                        <div class="font-bold">
                            Output Variables Mapping
                        </div>
                    </div>
                </ng-template>
                <ng-template #header>
                    <tr>
                        <th style="min-width: 10rem">
                            <div class="flex justify-between items-center">
                                Output Variables Name
                            </div>
                        </th>
                        <th style="min-width: 10rem">
                            <div class="flex justify-between items-center">
                                Entity/Instance/Tag
                            </div>
                        </th>
                        <th style="min-width: 10rem">
                            <div class="flex justify-between items-center">
                                Entity/Instance Name
                            </div>
                        </th>
                        <th style="min-width: 15rem">
                            <div class="flex justify-between items-center">
                                Attributes
                            </div>
                        </th>
                        <th style="min-width: 15rem">
                            <div class="flex justify-between items-center">
                                Frequency
                            </div>
                        </th>

                        <th style="min-width: 15rem">
                            <div class="flex justify-between items-center">
                                Offset
                            </div>
                        </th>
                        <!-- <th style="min-width: 10rem">
                            <div class="flex justify-between items-center">
                                Trigger
                            </div>
                        </th>
                        <th style="min-width: 10rem">
                            <div class="flex justify-between items-center">
                                Re-trigger
                            </div>
                        </th>
                        <th style="min-width: 10rem">
                            <div class="flex justify-between items-center">
                                Approval Req
                            </div>
                        </th> -->
                    </tr>
                </ng-template>
                <ng-template #body let-cal let-i="rowIndex">
                    <tr [formGroupName]="i">
                        <td>
                            {{outputMappings.at(i).get('variableName')?.value}}
                        </td>
                        <td>
                            <p-select [options]="types" formControlName="type" placeholder="Select" class="w-full"
                                showClear="true" appendTo="body" />
                        </td>
                        <td>
                            <p-select [options]="getTypeOptions(i,'output')" optionLabel="name" placeholder="Select"
                                filterBy="name" [filter]="true" class="w-full" showClear="true" appendTo="body"
                                formControlName="typeName" />
                        </td>
                        <td>
                            <p-select [options]="getAttributeOptions(i,'output')" optionLabel="name"
                                placeholder="Select" formControlName="attribute" optionValue="id" filterBy="name"
                                [filter]="true" class="w-full" showClear="true" appendTo="body" />
                        </td>
                        <td>
                            <p-select [options]="frequencyOptions" optionLabel="name" placeholder="Select"
                                filterBy="name" formControlName="frequency" optionValue="type" [filter]="true"
                                class="w-full" showClear="true" appendTo="body" />
                        </td>
                        <td>
                            <p-inputnumber inputId="integeronly" formControlName="offset" [showButtons]="true"
                                class="w-full" placeholder="Input" />
                        </td>
                        <!-- <td>
                            <p-checkbox formControlName="calcTrigInd" [binary]="true" />
                        </td>
                        <td>
                            <p-checkbox formControlName="calcReTrigInd" [binary]="true" />
                        </td>
                        <td>
                            <p-checkbox formControlName="approvalReq" [binary]="true" />
                        </td> -->
                    </tr>
                </ng-template>

                <ng-template #emptymessage>
                    <tr>
                        <td colspan="5">No Output Variables found.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <div formArrayName="triggerParams">
            <div class="pb-3 pt-3 w-full flex justify-end">
                <p-button label="Add Trigger Params" (onClick)="addTriggerMapping()"></p-button>

            </div>
            <p-table #dt [value]="triggerParams.controls" dataKey="index" [filterDelay]="0" responsiveLayout="scroll">
                <ng-template #caption>
                    <div class="flex justify-between">
                        <div class="font-bold">
                            Trigger Parameters
                        </div>
                    </div>
                </ng-template>
                <ng-template #header>
                    <tr>
                        <th style="min-width: 10rem">
                            <div class="flex justify-between items-center">
                                Parameter Name
                            </div>
                        </th>
                        <th style="min-width: 10rem">
                            <div class="flex justify-between items-center">
                                Entity/Instance/Tag
                            </div>
                        </th>
                        <th style="min-width: 10rem">
                            <div class="flex justify-between items-center">
                                Entity/Instance Name
                            </div>
                        </th>
                        <th style="min-width: 15rem">
                            <div class="flex justify-between items-center">
                                Attributes
                            </div>
                        </th>
                        <th style="min-width: 15rem">
                            <div class="flex justify-between items-center">
                                Frequency
                            </div>
                        </th>

                        <th style="min-width: 15rem">
                            <div class="flex justify-between items-center">
                                Offset
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template #body let-cal let-i="rowIndex">
                    <tr [formGroupName]="i">
                        <td>
                            <input type="text" class="w-full" pInputText formControlName="variableName" />
                            <!-- {{outputMappings.at(i).get('variableName')?.value}} -->
                        </td>
                        <td>
                            <p-select [options]="types" formControlName="type" placeholder="Select" class="w-full"
                                showClear="true" appendTo="body" />
                        </td>
                        <td>
                            <p-select [options]="getTypeOptions(i,'trigger')" optionLabel="name" placeholder="Select"
                                filterBy="name" [filter]="true" class="w-full" showClear="true" appendTo="body"
                                formControlName="typeName" />
                        </td>
                        <td>
                            <p-select [options]="getAttributeOptions(i,'trigger')" optionLabel="name"
                                placeholder="Select" formControlName="attribute" optionValue="id" filterBy="name"
                                [filter]="true" class="w-full" showClear="true" appendTo="body" />
                        </td>
                        <td>
                            <p-select [options]="frequencyOptions" optionLabel="name" placeholder="Select"
                                filterBy="name" formControlName="frequency" optionValue="type" [filter]="true"
                                class="w-full" showClear="true" appendTo="body" />
                        </td>
                        <td>
                            <p-inputnumber inputId="integeronly" formControlName="offset" [showButtons]="true"
                                class="w-full" placeholder="Input" />
                        </td>
                    </tr>
                </ng-template>

                <ng-template #emptymessage>
                    <tr>
                        <td colspan="5">No Trigger Parameters found.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </form>
    <div class="flex justify-center gap-[10px]">
        <p-button styleClass="w-[250px]" severity="danger" outlined="true" label="Cancel"
            (onClick)="ref.close()"></p-button>
        <p-button styleClass="w-[250px]" label="Save" (onClick)="createMapping()"></p-button>
    </div>
</div>
}