@if(isShowUi) {
<div class="pt-[50px] pl-[20px] pr-[20px] w-full">
    <p-card class="w-full">
        <div>
            <div>
                <p-table #dt [columns]="fields" [value]="datas" dataKey="id" [rowHover]="true" [rows]="5"
                    [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,50]" [paginator]="true"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
                    [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']">
                    <ng-template pTemplate="caption">
                        <div class="flex justify-between">
                            <p-button [outlined]="true" icon="pi pi-filter-slash" label="Clear" (onClick)="clear(dt)" />
                            <div class="flex gap-[10px] items-center">
                                <p-iconField iconPosition="left">
                                    <p-inputIcon>
                                        <i class="pi pi-search"></i>
                                    </p-inputIcon>
                                    <input pInputText type="text" placeholder="Keyboard Search" />
                                </p-iconField>
                                <p-button [raised]="true" label="Back"
                                    routerLink="/datapointAdmin/home/entity" />
                                <p-button (onClick)="addData()" [raised]="true" [label]="entityName" />
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            @for(field of fields; track field){
                            @if(field.dataPointID.dataType !== 'Binary'){
                            <th>
                                {{ field.attributeName }}
                            </th>
                            }
                            }
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-app let-columns="columns">
                        <tr (click)="editData(app.entityOrInstanceId)" class="cursor-pointer">
                            @for(col of columns;track col){
                            @if(col.dataPointID.dataType !== 'Binary')
                            {
                            <td>
                                <ng-container *ngFor="let text of storelinkpart(app.data[col.attributeName])">
                                    <ng-container *ngIf="islink(text); else textonly">
                                        <a [href]="text" style="color: #26A8AB; text-decoration: underline;"
                                            target="_blank">{{text}}</a>
                                    </ng-container>
                                    <ng-template #textonly>
                                        {{text}}
                                    </ng-template>
                                </ng-container>
                                <!-- {{ app.data[col.attributeName] || '-' }} -->
                            </td>
                            }
                            }
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="8">No Data Found</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </p-card>
</div>
}
<p-toast [breakpoints]="breakPointForToastComponent"></p-toast>